.App {
  font-family: "Lato", sans-serif;
  max-width: 600px;
  margin: 30px auto;
}
.App h1 {
  font-size: 3rem;
  font-weight: 900;
}

.App div {
  font-size: 1.2rem;
  font-weight: 100;
}

.App a {
  text-decoration: none;
}

.App canvas {
  /* width: 25%; */
}
