.Weather .card {
  border-radius: 30px;
  text-align: center;
}

.Weather .card-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
}

.Weather .temperature {
  font-size: 5.5rem;
}

.Weather .units {
  position: relative;
  font-size: 1.2rem;
  top: -3.5rem;
}

.Weather .active {
  color: #000;
  cursor: default;
}

.Weather .city-input,
.btn {
  border-radius: 60px;
}
